%h1
  = I18n.t('entries.listing', date: date_in_words(@date))

.row
  .span9
    .control-group
      = link_to 'New Entry', new_entry_path, :class => "btn btn-primary", :id => "new-entry"

    - if @entries.empty?
      .empty= I18n.t('entries.empty')
    - else
      %table.table.table-striped.entries.table-condensed.table-hover
        %tr
          %th Entry
          %th Time
          %th.actions Actions

        - @entries.each do |entry|
          %tr
            %td
              = entry.project.customer.name
              /
              = entry.project.title
              /
              = entry.activity.name
              .description
                = entry.description
            %td
              %span.ticker{class: "#{entry.active? ? 'ticking' : ''}", data: {id: entry.id, current: entry.total_duration}}
                = entry.total_duration.to_time

            %td.actions
              = render :partial => "entry_time", :object => entry

              = link_to edit_entry_path(entry) do
                %i.icon.icon-pencil
              = link_to entry, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.icon.icon-remove



  .span3
    #datepicker{data: {url: "#{entries_path}", current: "#{@date.to_s(:iso)}"}}
