%h1= I18n.t("customers.listing")

%table.table.table-striped.table-hover
  %tr
    %th= I18n.t("activerecord.attributes.customer.name")
    %th= I18n.t("activerecord.attributes.customer.comment")
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.name
      %td= customer.comment
      %td.actions
        = link_to edit_customer_path(customer) do
          %i.icon.icon-pencil
        = link_to customer, method: :delete, data: { confirm: 'Are you sure?' } do
          %i.icon.icon-remove

.form-actions
  = link_to I18n.t("customers.new"), new_customer_path, :class => "btn btn-primary"
