%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Comment:
  = @customer.comment

= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-primary"
= link_to 'Back', customers_path, class: "btn"
