%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Customer:
  = @project.customer.name
%p
  %b Comment:
  = @project.comment

= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"
= link_to 'Back', projects_path, class: "btn"
