%h1 Listing Activities

%table.table.table-striped
  %tr
    %th Title
    %th Chargeable
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.chargeable
      %td
        = link_to 'Show', activity
        = link_to 'Edit', edit_activity_path(activity)
        = link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path, class: "btn btn-primary"
